<ion-header *ngIf="verifyFailed">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/reptiles"></ion-back-button>
    </ion-buttons>   
    <ion-title>Admin Authentication</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="!verifyFailed">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/reptiles"></ion-back-button>
      </ion-buttons>   
      <ion-title>Admin Authentication</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <img src = "../../assets/img/SnakeHausLogo.png">
    <ion-card>
      <ion-card-header>
        Login
      </ion-card-header>
      <ion-grid *ngIf="verifyFailed">
        <ion-col id="verifyFailed">
          <ion-row>
              <h2>Login Failed</h2>
          </ion-row>
          <ion-row>
              <p>Username or Password is incorrect</p>
          </ion-row>
        </ion-col>
      </ion-grid>
      <ion-card-content>
        <form (ngSubmit)="authenticate()">
          <h2>Basic Information</h2>
          <ion-item>
            <ion-label>Username: </ion-label>
            <ion-input type="text" name="name" id="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password: </ion-label>
            <ion-input type="password" name="pass" id="pass"></ion-input>
          </ion-item>
          <ion-button type="submit"><ion-label>Submit</ion-label></ion-button>
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>
